**SIMPLE Imputer**

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [50]:
df= pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [51]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [52]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [53]:
from sklearn.impute import SimpleImputer

In [54]:
# initiate with mean
si= SimpleImputer(missing_values= np.nan, strategy='mean')

In [55]:
# impute with mean [depending on column values may use median, mode or constant]

df[['age']]= si.fit_transform(df[['age']])

In [56]:
# initiate with mean and missing indicator

si = SimpleImputer(missing_values = np.nan, strategy= 'mean', add_indicator=True)

In [57]:
# impute with mean with missing indicator

df[['fare','fare_indicator']] = si.fit_transform(df[['fare']])

In [58]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,fare_indicator
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0.0
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0.0
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.0
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0.0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.0

In [59]:
df.isna().sum()

pclass               0
survived             0
name                 0
sex                  0
age                  0
sibsp                0
parch                0
ticket               0
fare                 0
cabin             1014
embarked             2
boat               823
body              1188
home.dest          564
fare_indicator       0
dtype: int64

**KNN Imputer**

In [60]:
df= pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [61]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [62]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [63]:
from sklearn.impute import KNNImputer

In [64]:
knn = KNNImputer(missing_values = np.nan, weights ='distance')

In [65]:
# impute with KNN [n_neighbors=5]

df[['age']] = knn.fit_transform(df[['age']])

In [66]:
# initiate with missing indicator

knn = KNNImputer(missing_values = np.nan, weights ='distance', add_indicator=True)

In [67]:
# impute with mean with missing indicator

df[['fare','fare_indicator']] = knn.fit_transform(df[['fare']])

In [68]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,fare_indicator
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0.0
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0.0
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.0
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0.0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.0

In [69]:
df.isna().sum()

pclass               0
survived             0
name                 0
sex                  0
age                  0
sibsp                0
parch                0
ticket               0
fare                 0
cabin             1014
embarked             2
boat               823
body              1188
home.dest          564
fare_indicator       0
dtype: int64

**Iterative Imputer [default = RidgeRegressor()]**

In [70]:
df= pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [71]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [72]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [73]:
# initiate with default RidgeRegressor

ii = IterativeImputer(missing_values = np.nan)

In [74]:
# impute with IterativeImputer [using default arguments]

df[['age']] = ii.fit_transform(df[['age']])

**Iterative Imputer [KNeighborsRegressor()]**

In [75]:
df= pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [76]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [77]:
# initiate with Random Forest Regressor
from sklearn.neighbors import KNeighborsRegressor

iiknn = IterativeImputer(missing_values = np.nan, estimator=KNeighborsRegressor())

In [78]:
# impute with IterativeImputer [using KNN]
df[['age']] = iiknn.fit_transform(df[['age']])

In [79]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

**Iterative Imputer [RandomForestRegressor()]**

In [80]:
df= pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [81]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [82]:
# initiate with Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor

iirf = IterativeImputer(missing_values = np.nan, estimator=RandomForestRegressor())

In [83]:
# impute with IterativeImputer [using Random Forest]
df[['age']] = iirf.fit_transform(df[['age']])

In [84]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64